<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jz.xd.mapper.TbRULoginLogMapper">
  <resultMap id="BaseResultMap" type="com.jz.xd.model.TbRULoginLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="u_id" jdbcType="INTEGER" property="uId" />
    <result column="flag_signed" jdbcType="INTEGER" property="flagSigned" />
    <result column="flag_sined_days" jdbcType="INTEGER" property="flagSinedDays" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
    <result column="today_date" jdbcType="DATE" property="todayDate" />
    <result column="syscreated" jdbcType="TIMESTAMP" property="syscreated" />
    <result column="active" jdbcType="INTEGER" property="active" />
    <result column="demo" jdbcType="VARCHAR" property="demo" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, u_id, flag_signed, flag_sined_days, login_time, today_date, syscreated, active, 
    demo
  </sql>
  <select id="selectByExample" parameterType="com.jz.xd.model.TbRULoginLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_r_u_login_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_r_u_login_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_r_u_login_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jz.xd.model.TbRULoginLogExample">
    delete from tb_r_u_login_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jz.xd.model.TbRULoginLog">
    insert into tb_r_u_login_log (id, u_id, flag_signed, 
      flag_sined_days, login_time, today_date, 
      syscreated, active, demo
      )
    values (#{id,jdbcType=INTEGER}, #{uId,jdbcType=INTEGER}, #{flagSigned,jdbcType=INTEGER}, 
      #{flagSinedDays,jdbcType=INTEGER}, #{loginTime,jdbcType=TIMESTAMP}, #{todayDate,jdbcType=DATE}, 
      #{syscreated,jdbcType=TIMESTAMP}, #{active,jdbcType=INTEGER}, #{demo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jz.xd.model.TbRULoginLog">
    insert into tb_r_u_login_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uId != null">
        u_id,
      </if>
      <if test="flagSigned != null">
        flag_signed,
      </if>
      <if test="flagSinedDays != null">
        flag_sined_days,
      </if>
      <if test="loginTime != null">
        login_time,
      </if>
      <if test="todayDate != null">
        today_date,
      </if>
      <if test="syscreated != null">
        syscreated,
      </if>
      <if test="active != null">
        active,
      </if>
      <if test="demo != null">
        demo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uId != null">
        #{uId,jdbcType=INTEGER},
      </if>
      <if test="flagSigned != null">
        #{flagSigned,jdbcType=INTEGER},
      </if>
      <if test="flagSinedDays != null">
        #{flagSinedDays,jdbcType=INTEGER},
      </if>
      <if test="loginTime != null">
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="todayDate != null">
        #{todayDate,jdbcType=DATE},
      </if>
      <if test="syscreated != null">
        #{syscreated,jdbcType=TIMESTAMP},
      </if>
      <if test="active != null">
        #{active,jdbcType=INTEGER},
      </if>
      <if test="demo != null">
        #{demo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jz.xd.model.TbRULoginLogExample" resultType="java.lang.Integer">
    select count(*) from tb_r_u_login_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_r_u_login_log
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.uId != null">
        u_id = #{record.uId,jdbcType=INTEGER},
      </if>
      <if test="record.flagSigned != null">
        flag_signed = #{record.flagSigned,jdbcType=INTEGER},
      </if>
      <if test="record.flagSinedDays != null">
        flag_sined_days = #{record.flagSinedDays,jdbcType=INTEGER},
      </if>
      <if test="record.loginTime != null">
        login_time = #{record.loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.todayDate != null">
        today_date = #{record.todayDate,jdbcType=DATE},
      </if>
      <if test="record.syscreated != null">
        syscreated = #{record.syscreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.active != null">
        active = #{record.active,jdbcType=INTEGER},
      </if>
      <if test="record.demo != null">
        demo = #{record.demo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_r_u_login_log
    set id = #{record.id,jdbcType=INTEGER},
      u_id = #{record.uId,jdbcType=INTEGER},
      flag_signed = #{record.flagSigned,jdbcType=INTEGER},
      flag_sined_days = #{record.flagSinedDays,jdbcType=INTEGER},
      login_time = #{record.loginTime,jdbcType=TIMESTAMP},
      today_date = #{record.todayDate,jdbcType=DATE},
      syscreated = #{record.syscreated,jdbcType=TIMESTAMP},
      active = #{record.active,jdbcType=INTEGER},
      demo = #{record.demo,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jz.xd.model.TbRULoginLog">
    update tb_r_u_login_log
    <set>
      <if test="uId != null">
        u_id = #{uId,jdbcType=INTEGER},
      </if>
      <if test="flagSigned != null">
        flag_signed = #{flagSigned,jdbcType=INTEGER},
      </if>
      <if test="flagSinedDays != null">
        flag_sined_days = #{flagSinedDays,jdbcType=INTEGER},
      </if>
      <if test="loginTime != null">
        login_time = #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="todayDate != null">
        today_date = #{todayDate,jdbcType=DATE},
      </if>
      <if test="syscreated != null">
        syscreated = #{syscreated,jdbcType=TIMESTAMP},
      </if>
      <if test="active != null">
        active = #{active,jdbcType=INTEGER},
      </if>
      <if test="demo != null">
        demo = #{demo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jz.xd.model.TbRULoginLog">
    update tb_r_u_login_log
    set u_id = #{uId,jdbcType=INTEGER},
      flag_signed = #{flagSigned,jdbcType=INTEGER},
      flag_sined_days = #{flagSinedDays,jdbcType=INTEGER},
      login_time = #{loginTime,jdbcType=TIMESTAMP},
      today_date = #{todayDate,jdbcType=DATE},
      syscreated = #{syscreated,jdbcType=TIMESTAMP},
      active = #{active,jdbcType=INTEGER},
      demo = #{demo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>