<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jz.xd.mapper.TbSysProductMapper">
  <resultMap id="BaseResultMap" type="com.jz.xd.model.TbSysProduct">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="p_id" jdbcType="INTEGER" property="pId" />
    <result column="p_type" jdbcType="INTEGER" property="pType" />
    <result column="p_name" jdbcType="VARCHAR" property="pName" />
    <result column="p_unit" jdbcType="INTEGER" property="pUnit" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="img_1" jdbcType="VARCHAR" property="img1" />
    <result column="img_2" jdbcType="VARCHAR" property="img2" />
    <result column="img_3" jdbcType="VARCHAR" property="img3" />
    <result column="p_age" jdbcType="VARCHAR" property="pAge" />
    <result column="p_month" jdbcType="VARCHAR" property="pMonth" />
    <result column="p_kind" jdbcType="VARCHAR" property="pKind" />
    <result column="p_sex" jdbcType="VARCHAR" property="pSex" />
    <result column="p_price" jdbcType="INTEGER" property="pPrice" />
    <result column="p_price_boy" jdbcType="INTEGER" property="pPriceBoy" />
    <result column="p_price_1" jdbcType="INTEGER" property="pPrice1" />
    <result column="p_price_2" jdbcType="INTEGER" property="pPrice2" />
    <result column="p_price_3" jdbcType="INTEGER" property="pPrice3" />
    <result column="best_new" jdbcType="INTEGER" property="bestNew" />
    <result column="best_hot" jdbcType="INTEGER" property="bestHot" />
    <result column="buy_notice" jdbcType="VARCHAR" property="buyNotice" />
    <result column="sort_index" jdbcType="INTEGER" property="sortIndex" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="syscreated" jdbcType="TIMESTAMP" property="syscreated" />
    <result column="active" jdbcType="INTEGER" property="active" />
    <result column="demo" jdbcType="VARCHAR" property="demo" />
    <result column="course_num" jdbcType="INTEGER" property="courseNum" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, p_id, p_type, p_name, p_unit, img, img_1, img_2, img_3, p_age, p_month, p_kind, 
    p_sex, p_price, p_price_boy, p_price_1, p_price_2, p_price_3, best_new, best_hot, 
    buy_notice, sort_index, start_time, end_time, syscreated, active, demo, course_num
  </sql>
  <select id="selectByExample" parameterType="com.jz.xd.model.TbSysProductExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_sys_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_sys_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_sys_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jz.xd.model.TbSysProductExample">
    delete from tb_sys_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jz.xd.model.TbSysProduct">
    insert into tb_sys_product (id, p_id, p_type, 
      p_name, p_unit, img, 
      img_1, img_2, img_3, p_age, 
      p_month, p_kind, p_sex, 
      p_price, p_price_boy, p_price_1, 
      p_price_2, p_price_3, best_new, 
      best_hot, buy_notice, sort_index, 
      start_time, end_time, syscreated, 
      active, demo, course_num
      )
    values (#{id,jdbcType=INTEGER}, #{pId,jdbcType=INTEGER}, #{pType,jdbcType=INTEGER}, 
      #{pName,jdbcType=VARCHAR}, #{pUnit,jdbcType=INTEGER}, #{img,jdbcType=VARCHAR}, 
      #{img1,jdbcType=VARCHAR}, #{img2,jdbcType=VARCHAR}, #{img3,jdbcType=VARCHAR}, #{pAge,jdbcType=VARCHAR}, 
      #{pMonth,jdbcType=VARCHAR}, #{pKind,jdbcType=VARCHAR}, #{pSex,jdbcType=VARCHAR}, 
      #{pPrice,jdbcType=INTEGER}, #{pPriceBoy,jdbcType=INTEGER}, #{pPrice1,jdbcType=INTEGER}, 
      #{pPrice2,jdbcType=INTEGER}, #{pPrice3,jdbcType=INTEGER}, #{bestNew,jdbcType=INTEGER}, 
      #{bestHot,jdbcType=INTEGER}, #{buyNotice,jdbcType=VARCHAR}, #{sortIndex,jdbcType=INTEGER}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{syscreated,jdbcType=TIMESTAMP}, 
      #{active,jdbcType=INTEGER}, #{demo,jdbcType=VARCHAR}, #{courseNum,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jz.xd.model.TbSysProduct">
    insert into tb_sys_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pId != null">
        p_id,
      </if>
      <if test="pType != null">
        p_type,
      </if>
      <if test="pName != null">
        p_name,
      </if>
      <if test="pUnit != null">
        p_unit,
      </if>
      <if test="img != null">
        img,
      </if>
      <if test="img1 != null">
        img_1,
      </if>
      <if test="img2 != null">
        img_2,
      </if>
      <if test="img3 != null">
        img_3,
      </if>
      <if test="pAge != null">
        p_age,
      </if>
      <if test="pMonth != null">
        p_month,
      </if>
      <if test="pKind != null">
        p_kind,
      </if>
      <if test="pSex != null">
        p_sex,
      </if>
      <if test="pPrice != null">
        p_price,
      </if>
      <if test="pPriceBoy != null">
        p_price_boy,
      </if>
      <if test="pPrice1 != null">
        p_price_1,
      </if>
      <if test="pPrice2 != null">
        p_price_2,
      </if>
      <if test="pPrice3 != null">
        p_price_3,
      </if>
      <if test="bestNew != null">
        best_new,
      </if>
      <if test="bestHot != null">
        best_hot,
      </if>
      <if test="buyNotice != null">
        buy_notice,
      </if>
      <if test="sortIndex != null">
        sort_index,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="syscreated != null">
        syscreated,
      </if>
      <if test="active != null">
        active,
      </if>
      <if test="demo != null">
        demo,
      </if>
      <if test="courseNum != null">
        course_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pId != null">
        #{pId,jdbcType=INTEGER},
      </if>
      <if test="pType != null">
        #{pType,jdbcType=INTEGER},
      </if>
      <if test="pName != null">
        #{pName,jdbcType=VARCHAR},
      </if>
      <if test="pUnit != null">
        #{pUnit,jdbcType=INTEGER},
      </if>
      <if test="img != null">
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="img1 != null">
        #{img1,jdbcType=VARCHAR},
      </if>
      <if test="img2 != null">
        #{img2,jdbcType=VARCHAR},
      </if>
      <if test="img3 != null">
        #{img3,jdbcType=VARCHAR},
      </if>
      <if test="pAge != null">
        #{pAge,jdbcType=VARCHAR},
      </if>
      <if test="pMonth != null">
        #{pMonth,jdbcType=VARCHAR},
      </if>
      <if test="pKind != null">
        #{pKind,jdbcType=VARCHAR},
      </if>
      <if test="pSex != null">
        #{pSex,jdbcType=VARCHAR},
      </if>
      <if test="pPrice != null">
        #{pPrice,jdbcType=INTEGER},
      </if>
      <if test="pPriceBoy != null">
        #{pPriceBoy,jdbcType=INTEGER},
      </if>
      <if test="pPrice1 != null">
        #{pPrice1,jdbcType=INTEGER},
      </if>
      <if test="pPrice2 != null">
        #{pPrice2,jdbcType=INTEGER},
      </if>
      <if test="pPrice3 != null">
        #{pPrice3,jdbcType=INTEGER},
      </if>
      <if test="bestNew != null">
        #{bestNew,jdbcType=INTEGER},
      </if>
      <if test="bestHot != null">
        #{bestHot,jdbcType=INTEGER},
      </if>
      <if test="buyNotice != null">
        #{buyNotice,jdbcType=VARCHAR},
      </if>
      <if test="sortIndex != null">
        #{sortIndex,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="syscreated != null">
        #{syscreated,jdbcType=TIMESTAMP},
      </if>
      <if test="active != null">
        #{active,jdbcType=INTEGER},
      </if>
      <if test="demo != null">
        #{demo,jdbcType=VARCHAR},
      </if>
      <if test="courseNum != null">
        #{courseNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jz.xd.model.TbSysProductExample" resultType="java.lang.Integer">
    select count(*) from tb_sys_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_sys_product
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.pId != null">
        p_id = #{record.pId,jdbcType=INTEGER},
      </if>
      <if test="record.pType != null">
        p_type = #{record.pType,jdbcType=INTEGER},
      </if>
      <if test="record.pName != null">
        p_name = #{record.pName,jdbcType=VARCHAR},
      </if>
      <if test="record.pUnit != null">
        p_unit = #{record.pUnit,jdbcType=INTEGER},
      </if>
      <if test="record.img != null">
        img = #{record.img,jdbcType=VARCHAR},
      </if>
      <if test="record.img1 != null">
        img_1 = #{record.img1,jdbcType=VARCHAR},
      </if>
      <if test="record.img2 != null">
        img_2 = #{record.img2,jdbcType=VARCHAR},
      </if>
      <if test="record.img3 != null">
        img_3 = #{record.img3,jdbcType=VARCHAR},
      </if>
      <if test="record.pAge != null">
        p_age = #{record.pAge,jdbcType=VARCHAR},
      </if>
      <if test="record.pMonth != null">
        p_month = #{record.pMonth,jdbcType=VARCHAR},
      </if>
      <if test="record.pKind != null">
        p_kind = #{record.pKind,jdbcType=VARCHAR},
      </if>
      <if test="record.pSex != null">
        p_sex = #{record.pSex,jdbcType=VARCHAR},
      </if>
      <if test="record.pPrice != null">
        p_price = #{record.pPrice,jdbcType=INTEGER},
      </if>
      <if test="record.pPriceBoy != null">
        p_price_boy = #{record.pPriceBoy,jdbcType=INTEGER},
      </if>
      <if test="record.pPrice1 != null">
        p_price_1 = #{record.pPrice1,jdbcType=INTEGER},
      </if>
      <if test="record.pPrice2 != null">
        p_price_2 = #{record.pPrice2,jdbcType=INTEGER},
      </if>
      <if test="record.pPrice3 != null">
        p_price_3 = #{record.pPrice3,jdbcType=INTEGER},
      </if>
      <if test="record.bestNew != null">
        best_new = #{record.bestNew,jdbcType=INTEGER},
      </if>
      <if test="record.bestHot != null">
        best_hot = #{record.bestHot,jdbcType=INTEGER},
      </if>
      <if test="record.buyNotice != null">
        buy_notice = #{record.buyNotice,jdbcType=VARCHAR},
      </if>
      <if test="record.sortIndex != null">
        sort_index = #{record.sortIndex,jdbcType=INTEGER},
      </if>
      <if test="record.startTime != null">
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null">
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.syscreated != null">
        syscreated = #{record.syscreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.active != null">
        active = #{record.active,jdbcType=INTEGER},
      </if>
      <if test="record.demo != null">
        demo = #{record.demo,jdbcType=VARCHAR},
      </if>
      <if test="record.courseNum != null">
        course_num = #{record.courseNum,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_sys_product
    set id = #{record.id,jdbcType=INTEGER},
      p_id = #{record.pId,jdbcType=INTEGER},
      p_type = #{record.pType,jdbcType=INTEGER},
      p_name = #{record.pName,jdbcType=VARCHAR},
      p_unit = #{record.pUnit,jdbcType=INTEGER},
      img = #{record.img,jdbcType=VARCHAR},
      img_1 = #{record.img1,jdbcType=VARCHAR},
      img_2 = #{record.img2,jdbcType=VARCHAR},
      img_3 = #{record.img3,jdbcType=VARCHAR},
      p_age = #{record.pAge,jdbcType=VARCHAR},
      p_month = #{record.pMonth,jdbcType=VARCHAR},
      p_kind = #{record.pKind,jdbcType=VARCHAR},
      p_sex = #{record.pSex,jdbcType=VARCHAR},
      p_price = #{record.pPrice,jdbcType=INTEGER},
      p_price_boy = #{record.pPriceBoy,jdbcType=INTEGER},
      p_price_1 = #{record.pPrice1,jdbcType=INTEGER},
      p_price_2 = #{record.pPrice2,jdbcType=INTEGER},
      p_price_3 = #{record.pPrice3,jdbcType=INTEGER},
      best_new = #{record.bestNew,jdbcType=INTEGER},
      best_hot = #{record.bestHot,jdbcType=INTEGER},
      buy_notice = #{record.buyNotice,jdbcType=VARCHAR},
      sort_index = #{record.sortIndex,jdbcType=INTEGER},
      start_time = #{record.startTime,jdbcType=TIMESTAMP},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      syscreated = #{record.syscreated,jdbcType=TIMESTAMP},
      active = #{record.active,jdbcType=INTEGER},
      demo = #{record.demo,jdbcType=VARCHAR},
      course_num = #{record.courseNum,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jz.xd.model.TbSysProduct">
    update tb_sys_product
    <set>
      <if test="pId != null">
        p_id = #{pId,jdbcType=INTEGER},
      </if>
      <if test="pType != null">
        p_type = #{pType,jdbcType=INTEGER},
      </if>
      <if test="pName != null">
        p_name = #{pName,jdbcType=VARCHAR},
      </if>
      <if test="pUnit != null">
        p_unit = #{pUnit,jdbcType=INTEGER},
      </if>
      <if test="img != null">
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="img1 != null">
        img_1 = #{img1,jdbcType=VARCHAR},
      </if>
      <if test="img2 != null">
        img_2 = #{img2,jdbcType=VARCHAR},
      </if>
      <if test="img3 != null">
        img_3 = #{img3,jdbcType=VARCHAR},
      </if>
      <if test="pAge != null">
        p_age = #{pAge,jdbcType=VARCHAR},
      </if>
      <if test="pMonth != null">
        p_month = #{pMonth,jdbcType=VARCHAR},
      </if>
      <if test="pKind != null">
        p_kind = #{pKind,jdbcType=VARCHAR},
      </if>
      <if test="pSex != null">
        p_sex = #{pSex,jdbcType=VARCHAR},
      </if>
      <if test="pPrice != null">
        p_price = #{pPrice,jdbcType=INTEGER},
      </if>
      <if test="pPriceBoy != null">
        p_price_boy = #{pPriceBoy,jdbcType=INTEGER},
      </if>
      <if test="pPrice1 != null">
        p_price_1 = #{pPrice1,jdbcType=INTEGER},
      </if>
      <if test="pPrice2 != null">
        p_price_2 = #{pPrice2,jdbcType=INTEGER},
      </if>
      <if test="pPrice3 != null">
        p_price_3 = #{pPrice3,jdbcType=INTEGER},
      </if>
      <if test="bestNew != null">
        best_new = #{bestNew,jdbcType=INTEGER},
      </if>
      <if test="bestHot != null">
        best_hot = #{bestHot,jdbcType=INTEGER},
      </if>
      <if test="buyNotice != null">
        buy_notice = #{buyNotice,jdbcType=VARCHAR},
      </if>
      <if test="sortIndex != null">
        sort_index = #{sortIndex,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="syscreated != null">
        syscreated = #{syscreated,jdbcType=TIMESTAMP},
      </if>
      <if test="active != null">
        active = #{active,jdbcType=INTEGER},
      </if>
      <if test="demo != null">
        demo = #{demo,jdbcType=VARCHAR},
      </if>
      <if test="courseNum != null">
        course_num = #{courseNum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jz.xd.model.TbSysProduct">
    update tb_sys_product
    set p_id = #{pId,jdbcType=INTEGER},
      p_type = #{pType,jdbcType=INTEGER},
      p_name = #{pName,jdbcType=VARCHAR},
      p_unit = #{pUnit,jdbcType=INTEGER},
      img = #{img,jdbcType=VARCHAR},
      img_1 = #{img1,jdbcType=VARCHAR},
      img_2 = #{img2,jdbcType=VARCHAR},
      img_3 = #{img3,jdbcType=VARCHAR},
      p_age = #{pAge,jdbcType=VARCHAR},
      p_month = #{pMonth,jdbcType=VARCHAR},
      p_kind = #{pKind,jdbcType=VARCHAR},
      p_sex = #{pSex,jdbcType=VARCHAR},
      p_price = #{pPrice,jdbcType=INTEGER},
      p_price_boy = #{pPriceBoy,jdbcType=INTEGER},
      p_price_1 = #{pPrice1,jdbcType=INTEGER},
      p_price_2 = #{pPrice2,jdbcType=INTEGER},
      p_price_3 = #{pPrice3,jdbcType=INTEGER},
      best_new = #{bestNew,jdbcType=INTEGER},
      best_hot = #{bestHot,jdbcType=INTEGER},
      buy_notice = #{buyNotice,jdbcType=VARCHAR},
      sort_index = #{sortIndex,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      syscreated = #{syscreated,jdbcType=TIMESTAMP},
      active = #{active,jdbcType=INTEGER},
      demo = #{demo,jdbcType=VARCHAR},
      course_num = #{courseNum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>